.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 500px;
	padding: 20px;
	margin: 50px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}


.form-container {
    padding: 50px;
    border: 1px solid rgba(255, 20, 147, 0.6);
    border-radius: 35px;
    box-shadow: inset 0 0 20px rgba(255, 20, 147, 1), 0 0 20px rgba(255, 20, 147, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

#header {
	padding: 10px;
	text-align: center;
}

#nav-buttons {
	display: flex;
	justify-content: row;
	margin-top: 10px;
	
}

button {
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 15px;
}

button:hover {
	background-color: #555;
}

/*
.back-button {
    position: relative;
	
    display: flex;
    flex-direction: row;
}*/

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radio-group {
    margin-bottom: 25px;
}

.radio-subgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110%;
    margin-left: -5%;
}